<label>Repo</label>
{{#x-select value=repo class="form-control" id="repo"}}
  {{#x-option value="emberjs/ember.js" selected=true}}ember.js{{/x-option}}
  {{#x-option value="jquery/jquery"}}jquery{{/x-option}}
  {{#x-option value="twbs/bootstrap"}}bootstrap{{/x-option}}
{{/x-select}}
<br><hr>
